Source: ros-indigo-warthog-control
Section: misc
Priority: extra
Maintainer: Tony Baltovski <tbaltovski@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-roslaunch
Homepage: http://www.clearpathrobotics.com/
Standards-Version: 3.9.2

Package: ros-indigo-warthog-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-controller-manager, ros-indigo-diff-drive-controller, ros-indigo-interactive-marker-twist-server, ros-indigo-joint-state-controller, ros-indigo-joy, ros-indigo-robot-localization, ros-indigo-rosserial-server, ros-indigo-teleop-twist-joy, ros-indigo-topic-tools, ros-indigo-twist-mux
Description: Controllers for Warthog
